In [128]:
# Canada Post Corporation; Calgary Mail Processing Plant
# Machine Learning Model to predict total parcels processed per shift
# Based on induction volumes, staffing numbers for runouts, induct & non-con

# Import the dependencies, that will make this program a little easier to write. 
# Importing the machine learning library sklearn, matplotlib, numpy, and pandas.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [116]:
from google.colab import files
uploaded = files.upload()

Saving imms_performance.csv to imms_performance (1).csv

In [117]:
imss_performance = pd.read_csv("imms_performance.csv")

In [118]:
imss_performance.head()

   ITEMS_FED  Q1_IND  Q1_RUNOUT  ...  Q4_OTH  TUN_RR  ITEMS_SORTED
0      19297       7         15  ...      14   98.29         18429
1      22839       8         19  ...      16   97.70         22601
2      22245       7         17  ...      17   97.49         20070
3      17467       5         13  ...      15   98.09         15779
4      20018       6         16  ...      13   97.91         17202

[5 rows x 15 columns]

In [119]:
imss_performance.describe()

          ITEMS_FED     Q1_IND  Q1_RUNOUT  ...     Q4_OTH     TUN_RR  ITEMS_SORTED
count     60.000000  60.000000  60.000000  ...  60.000000  60.000000     60.000000
mean   20450.416667   5.600000  14.450000  ...  10.016667  97.760167  18394.966667
std     4942.706979   2.713432   7.052887  ...   4.767445   0.720349   4247.098411
min     2816.000000   0.000000   0.000000  ...   0.000000  94.060000   2659.000000
25%    18027.250000   5.000000  13.000000  ...   7.750000  97.565000  15792.500000
50%    21855.500000   6.000000  17.000000  ...  11.000000  97.915000  19876.500000
75%    23254.750000   7.250000  19.000000  ...  14.000000  98.180000  21409.500000
max    29138.000000   8.000000  29.000000  ...  17.000000  98.690000  23458.000000

[8 rows x 15 columns]

In [120]:
imss_performance.shape

(60, 15)

In [121]:
X, y = imss_performance.iloc[:, :-1], imss_performance.iloc[:, -1]
kwargs = dict(test_size=0.2, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, **kwargs)

In [122]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [123]:
print(regressor.intercept_)

-12717.94434233959

In [124]:
#Print the coefecients/weights for each feature/column of our model
print(regressor.coef_)

[ 6.38410985e-01 -1.64656281e+02  5.96963879e+01  1.75111307e+00
  2.62627315e+02  1.16934085e+02  3.39837714e+01  8.43932069e+02
 -1.03237099e+02  8.45647223e+01  9.22862079e+01  1.19080885e+01
 -3.75036472e+01  8.35387189e+01]

In [125]:
#print our parcel processing predictions on our test data
y_pred = regressor.predict(X_test)
print(y_pred)

[15542.44216151 21364.08186058 20041.13062855 19291.77518186
 22168.82993087 10649.54372325 22154.99754409 20392.69983818
 19517.65088038 23779.51721322 13465.34305882 21526.14904426]

In [126]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

    Actual     Predicted
39   14325  15542.442162
41   20297  21364.081861
2    20070  20041.130629
48   19460  19291.775182
50   22760  22168.829931
44   12008  10649.543723
33   22379  22154.997544
35   20474  20392.699838
40   14409  19517.650880
27   23458  23779.517213
24   13993  13465.343059
53   19899  21526.149044

In [127]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1026.7934378615707
Mean Squared Error: 2835779.788558846
Root Mean Squared Error: 1683.9773717478647